header {
    display: flex;
    height: 5rem;
    background: rgba(57, 141, 224, 0.6);
    padding: 0 2rem;
    color: white;
    font-size: 1.5rem;
}
header > nav{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

header > nav > a {
    color: white;
    text-decoration: none;
}

header > nav > a:hover {
    color: blue;
}

header > nav > ul {
    list-style-type: none;
    display: flex;
    gap: 2rem;

}

header > nav > ul > a {
    color:white;
    text-decoration: none;
}

header > nav > ul > a:hover {
    color: blue;
}

header > nav > ul > li > span:hover{
    cursor: pointer;
    color: blue;
}
