div{
    display: flex;
    width: 100%;
}

div > div {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
    position: relative;
}

div > div > h1 {
    display: flex;
    width: 100%;
    justify-content: center;
    position:relative;
}

div > div > h1:after {
    position: absolute;
    content: '';
    top: 150%;
    width: 60%;
    height: 0;
    z-index: -1;
    border-bottom: 1px solid #1852fa;
    box-shadow: 0 0 20px 1px rgba(57, 141, 224, 1);
}

div > div > h1 > a{
    position: absolute;
    top:-10%;
    background: white;
}

div > div > h1 > a{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    font-size: 1.5rem;
    font-weight: normal;
    width: 15%;
    min-width: max-content;
    padding: 0.5rem 0;
    border-radius: 0.5rem;
    border: 2px solid rgba(57, 141, 224, 1);
    left: 75%;
    transition: width 0.3s linear, left 0.3s linear;
}

div > div > h1 > a:hover{
    padding-bottom: 0;
    color: blue;
    width: 25%;
    left: 70%;
    transition: width 0.3s linear, left 0.3s linear;
}

div > div > h1 > a:hover > div{
    display: flex;
}

div > div > h1 > a > div{
    display: none;
    flex-direction: column;
    justify-content: center;
    padding-top: 0.3rem;
    width: 100%;
}

div > div > h1 > a > div > button{
    font-size: 1.5rem;
    border-radius: 0.3rem;
    min-height: 2rem;
    padding: 0.2rem 0;
    width: 100%;
    border: 2px solid rgba(57, 141, 224, 1);
    z-index: 1;
}

div > div > h1 > a > div > button:hover{
    color:blue;
}

div > div > span{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

div > div > span > form {
    margin: 1rem;
    display: flex;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

div > div > span > form > b{
    width: 80%;

}

div > div > span > form > div{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0;

}
div > div > span > form > div:last-child{
    margin: 0;
}

.CommandPlaceholder{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-content: center;
    font-size: 2rem;
}
