@keyframes slideInFromDown {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

{
    --n: 0s ;
}

.TaskBody {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--main-bg-color);
    border-top: 2px solid var(--main-border-color);
    border-bottom: 2px solid var(--main-border-color);
    box-shadow: 3px 2px 3px var(--main-shadow-color);
    animation: 1s ease-in-out slideInFromDown;
    animation-delay: calc(0.2 * var(--n) * -1);
    animation-iteration-count: 1;
}

.TaskHeader {
    font-size: 2rem;
    margin: 1rem 0;
}

.TaskDesc {
    display: flex;
    min-height: 5vh;
    font-size: 1.5rem;
    white-space: normal;
    margin: 0 1rem 1rem 1rem;
    align-items: center;
    border: none;
}

.RadioButtonContainer{
    display: flex;
    justify-content: center;
    flex-direction: row;
    border-radius: 1rem;
    margin-bottom: 1rem;
    column-gap: 0.5rem;
    flex-wrap: wrap;
    border: 2px solid var(--main-border-color);
    background: var(--main-bg-color);
    min-height: max-content;
    min-width: max-content;
    padding: 0.5rem;
    align-items: center;
}

.RadioButton:hover{
    color: var(--main-hover-color);
}

.RadioButton{
    display: flex;
    height: fit-content;
    align-items: center;
}

.RadioButton > input{
    appearance: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 2px solid var(--main-border-color);
    background: var(--main-bg-color);
    transition: 0.2s all linear;
    margin: 0.5rem;
    position: relative;
}

.RadioButton > input:before{
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    background: var(--main-bg-color);
    border-radius: 50%;
    display: flex;
    transition: all 0.2s ease-out;
}

.RadioButton > input:after{
    position: absolute;
    top: -6px;
    left: -6px;
    width: 34px;
    border-radius: 50%;
    height: 34px;
    display: flex;
    content: '';
    background: transparent;
    border: 2px solid transparent;
    transition: all 0.3s linear;
}

.RadioButton:hover > input:after{
    border: 2px solid var(--main-component-color);
}

.RadioButton > input:checked:before{
    top: 3px;
    left: 3px;
    width: 20px;
    height: 20px;
    background: var(--main-hover-color);
}

.RadioButton > input:checked:after{
    display: none;
}

.RadioButton > label{
    font-size: 1.5rem;
}

