.Sprint{
    flex: 0 0 auto;
    word-break: break-all;
    display: flex;
    height: 92.5%;
    border: 3px solid #3f5596;
    border-radius: 2rem;
    position: relative;
    min-width: 20vw;
    width: min-content;
    max-width: 60vw;
    padding-bottom: 1.5%;
}

.Sprint > h1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
}

.Sprint > h1:after{
    top:90%
}

.Sprint > div{
    height: max-content;
    padding-bottom: 0.5rem;
}

.Sprint > span{
    display: flex;
}

.Sprint > span > div{
    width: 100%;

}

.TaskScroll{
    display: flex;
    flex-direction: column;
    height: 80%;
    border-radius: 1rem;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    overflow-x: hidden;
    scroll-padding: 0.5rem;
}

.TaskScroll::-webkit-scrollbar{
    width: 15px;
    background: transparent;
}

.TaskScroll::-webkit-scrollbar-thumb{
    border-radius: 0.5rem;
    border: 2px solid #3f5596;
    background: linear-gradient(rgba(57, 141, 224, 0.6), #3f5596);
}

.Task{
    display: flex;
    flex-direction: column;
    width: calc(100% - 20px);
    min-height: max-content;
    height: max-content;
    border-radius: 1rem;
    margin-left: 15px;
    white-space: normal;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    padding-bottom: 1rem ;
}

.Task > div{
     display: flex;
     font-size: 1rem;
     justify-content: center;
     align-items: flex-end;
     margin-bottom: 5px;
 }

.Task:hover{
    color: blue;
    border: 2px solid blue;
}

.Task > .Score{
    position: absolute;
    bottom: 0;
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    height: max-content;
    margin: 0;
    width: 100%;
}

.TaskCompleted{
    display: flex;
    flex-direction: column;
    width: calc(100% - 20px);
    min-height: max-content;
    height: max-content;
    border-radius: 1rem;
    margin-left: 15px;
    white-space: normal;
    align-items: center;
    justify-content: center;
    background: rgba(108, 243, 58, 0.3);
    padding-bottom: 1.5rem;
    position: relative;
    overflow: hidden;
}

.TaskCompleted > div{
    display: flex;
    font-size: 1rem;
    justify-content: center;
    align-items: flex-end;
}

.TaskCompleted > .Score{
    position: absolute;
    bottom: 0;
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    height: max-content;
    margin: 0;
    width: 100%;
}

.TaskCompleted:hover{
    color: rgba(54, 54, 54, 0.6);
    border: 2px solid rgba(54, 54, 54, 0.6);
}

.FailedTask{
    display: flex;
    flex-direction: column;
    width: calc(100% - 20px);
    min-height: 5vh;
    height: max-content;
    border-radius: 1rem;
    margin-left: 15px;
    white-space: normal;
    align-items: center;
    justify-content: center;
    padding-bottom: 1rem;
    position: relative;
    overflow: hidden;
}

.FailedTask > .Score{
    position: absolute;
    bottom: 0;
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    height: max-content;
    margin: 0;
    width: 100%;
}

.FailedTask:disabled{
    background: rgba(243, 58, 58, 0.3);
}

.FailedTask:disabled:hover{
    color: rgba(54, 54, 54, 0.6);
    border: 2px solid rgba(54, 54, 54, 0.6);
}

.Sprint > button{
    display: flex;
    width: calc(100% - 20px);
    border: 2px solid #3f5596;
    min-height: 5vh;
    height: max-content;
    border-radius: 1rem;
    white-space: normal;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    min-width: max-content;
}
