@keyframes slideInFromLeft {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

{
    --n: 0s ;
}

.Sprint{
    word-break: break-all;
    display: flex;
    height: 95%;
    border: 3px solid var(--main-border-color);
    border-radius: 2rem;
    position: relative;
    min-width: 25vw;
    width: min-content;
    max-width: 60vw;
    box-shadow: 3px 2px 3px var(--main-shadow-color);
    animation: 1s ease-in-out slideInFromLeft;
    animation-delay: calc(0.2 * var(--n) * -1);
    animation-iteration-count: 1;
}

.SprintHeader{
    display: flex;
    flex: 1.5;
    min-height: max-content;
    height: 20%;
    justify-content: space-evenly;
}

.SprintHeader > h1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    color: var(--main-text-color);
}

.SprintHeader > div{
    color: var(--secondary-text-color);
    height: max-content;
}

.SprintHeader > h1:after{
    top:90%
}

.Sprint > span{
    display: flex;
    flex: 5;
    margin-top: 1rem;
    max-height: calc(100% - 3rem - 4rem - 1rem - 1rem);
}

.Sprint > span > div{
    width: 100%;

}

.TaskScroll{
    display: flex;
    flex-direction: column;
    height: 100%;
    border-radius: 1rem;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    overflow-x: hidden;
    scroll-padding: 0.5rem;
}

.TaskScroll::-webkit-scrollbar{
    width: 15px;
    background: transparent;
}

.TaskScroll::-webkit-scrollbar-thumb{
    border-radius: 0.5rem;
    background: var(--scrollbar-color);
}

.SprintFooter{
    display: flex;
    flex: 1;
    height: 20%;
    padding-bottom: 0.5rem;
    color: var(--secondary-text-color);
    justify-content: space-evenly;
    flex-direction: column;
    min-height: max-content;
}

.SprintFooter > button{
    display: flex;
    font-size: 1.5rem;
    height: 100%;
    width: 80%;
    border-radius: 1rem;
    border: 2px solid var(--main-border-color);
    background: var(--main-bg-color);
    align-items: center;
    justify-content: center;
    transition: all 0.2s linear;
}

.SprintFooter > button:hover{
    border: 2px solid var(--main-border-hover-color);
    color: var(--main-hover-text-color);
    background: var(--main-hover-color);
}

.Task{
    display: flex;
    flex-direction: column;
    width: calc(100% - 20px);
    min-height: max-content;
    height: max-content;
    border-radius: 1rem;
    margin-left: 15px;
    white-space: normal;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-bottom: 1rem ;
    background: var(--main-hover-color);
    color: var(--main-hover-text-color);
    transition: all 0.2s linear;
}

.Task > div{
     display: flex;
     font-size: 1rem;
     justify-content: center;
     align-items: flex-end;
     margin-bottom: 5px;
 }

.Task:hover{
    color: var(--main-text-color);
    background: var(--main-bg-color);
    border: 2px solid var(--main-border-hover-color);
}

.Task > .Score{
    position: absolute;
    bottom: 0;
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    height: max-content;
    margin: 0;
    width: 100%;
    border-radius: 0 0 1rem 1rem;
}

.TaskCompleted{
    display: flex;
    flex-direction: column;
    width: calc(100% - 20px);
    min-height: max-content;
    height: max-content;
    border-radius: 1rem;
    margin-left: 15px;
    white-space: normal;
    align-items: center;
    justify-content: center;
    color: var(--main-text-color);
    background: rgba(108, 243, 58, 0.4);
    padding-bottom: 1.5rem;
    position: relative;
}

.TaskCompleted > div{
    display: flex;
    font-size: 1rem;
    justify-content: center;
    align-items: flex-end;
}

.TaskCompleted > .Score{
    position: absolute;
    bottom: 0;
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    height: max-content;
    margin: 0;
    width: 100%;
    border-radius: 0 0 1rem 1rem;
    color: var(--main-text-color);
}

.TaskCompleted:hover{
    color: var(--main-text-color);
    background: rgba(108, 243, 58, 0.2);
    border: 2px solid rgba(54, 54, 54, 0.6);
}

.FailedTask{
    display: flex;
    flex-direction: column;
    width: calc(100% - 20px);
    min-height: 5vh;
    height: max-content;
    border-radius: 1rem;
    margin-left: 15px;
    white-space: normal;
    align-items: center;
    justify-content: center;
    padding-bottom: 1rem;
    position: relative;
    color: var(--main-text-color);
}

.FailedTask > .Score{
    position: absolute;
    bottom: 0;
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    height: max-content;
    margin: 0;
    width: 100%;
    border-radius: 0 0 1rem 1rem;
}

.FailedTask:disabled{
    background: rgba(255, 0, 0, 0.4);
}

.FailedTask:disabled:hover{
    color: var(--main-text-color);
    background: rgba(255, 0, 0, 0.2);
    border: 2px solid rgba(54, 54, 54, 0.7);
}

.Sprint > button{
    display: flex;
    width: calc(100% - 20px);
    border: 2px solid var(--main-border-color);
    min-height: 5vh;
    height: max-content;
    border-radius: 1rem;
    white-space: normal;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    min-width: max-content;
}
