@tailwind base;
@tailwind components;
@tailwind utilities;

Body{
    height: 100vh;
    margin:0;
    background: linear-gradient(to bottom right, #86869d, #98b0b0);
    font-family: sans-serif;
    color: #363636;
    padding: 0;
}
