@tailwind base;
@tailwind components;
@tailwind utilities;

Body{
    height: 100vh;
    margin:0;
    background: linear-gradient(to bottom right, #a1a1b0, #b8d2d2);
    font-family: sans-serif;
    color: #363636;
    padding: 0;
    overflow: hidden;
}
