div > div {
    width: min-content;
}

div > div > span{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 20%;
    column-gap: 2rem;

}

div > div > span > span{
    width: 100%;
    padding: 1rem 5% 0 10%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

div > div > form > div{
    width: 100%;
}

div > div > span > button{
    margin-top: 1rem;
    min-width: 20%;
    width: max-content;
    height: 3rem;
    border: none;
    border-radius: 1rem;
    font-size: 2rem;
    background: transparent;
    z-index: 1;
    position: relative;
    background: linear-gradient(to bottom right, #04afa9, #0a2594);
}

div > div > span > button:hover{
    color: blue;
}

div > div > span > button:before {
    content: "";
    position: absolute;
    left: 2px;
    right: 2px;
    top: 2px;
    bottom: 2px;
    border-radius: 0.9rem;
    background-color: white;
    z-index: -1;
}

div > div > span > button:after {
    content: attr(data);
    -webkit-background-clip: text;
    color: transparent;
    transition: 200ms
}
