.TaskButton{
    z-index: 1;
    display: flex;
    width: 100%;
    max-width: 29vw;
    min-height: max-content;
    padding-top: 1rem;
    padding-bottom: 2rem;
    border-radius: 1rem;
    align-items: center;
    justify-content: center;
    text-overflow: ellipsis;
    white-space: normal;
    cursor: grab;
    color: var(--main-text-color);
    background: transparent;
    border: 2px solid var(--main-border-color);
    position: relative;
    font-size: 1.5rem;
    transition: background 0.2s linear, border 0.2s linear;
}

.TaskButton:hover {
    color: var(--main-hover-text-color);
    background: var(--main-hover-color);
    border: 2px solid var(--main-border-color);
}

.Score{
    border-radius: 0 0 1rem 1rem;
    position: absolute;
    bottom: 0;
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    height: max-content;
    margin: 0;
    width: 100%;
}

.TaskButtonDrag{
    position: absolute;
    width: 100%;
    height: max-content;
    min-height: 5vh;
    border-radius: 1rem;
    font-family: sans-serif;
    font-size: 1.5rem;
}

.TaskButtonDrag:hover{
    border: 2px solid var(--main-border-hover-color);
}

