div {
    padding-top: 1rem;
    height: max-content;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

@keyframes slideInFromDown {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

div > div{
    /*animation: 1s ease-in-out 0s 1 slideInFromDown;*/
    margin-top: 10rem;
    min-height: min-content;
    height: max-content;
    width: min-content;
    max-width: 90%;
    min-width: 50%;
    border-radius: 1rem;
    position: relative;
    border: 2px solid var(--main-border-color);
    box-shadow: 3px 2px 3px var(--main-shadow-color);
}

div > div > span{
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 3rem;
    color: var(--main-text-color)
}

div > div > form{
    display: flex;
    width: 100%;
    height: 80%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column
}
div > div > form > b{
    width: 80%;
    color: var(--secondary-text-color)
}

div > div > form > span{
    margin-top: 2rem;
    font-size: 2rem;
}

div > div > form > div{
    width: 80%;
}

div > div > form > a {
    padding-top: 1rem;
    width: 80%;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    text-decoration: none;
    padding-bottom: 1rem;
}

div > div > form > a > button{
    width: 100%;
}

div > div > form > a:hover {
    color: var(--main-hover-color);
}

div > div > form > a >span {
    display: flex;
    height: 3rem;
    color: var(--secondary-text-color);
    position: relative;
    justify-content: center;
}

div > div > form > a >span:after{
    position: absolute;
    bottom: 0;
    width: 0;
    content: '';
    border-bottom: 1px solid var(--main-border-color);
    box-shadow: 3px 3px 5px var(--main-shadow-color);
    transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

div > div > form > a >span:hover{
    color: var(--main-hover-color)
}

div > div > form > a >span:hover:after{
    width: 100%;
}
