div{
    display: flex;
    width: 100%;
}

div > div {
    display: flex;
    align-items: center;
    height: 100%;
    flex-direction: column;
    position: relative;
}

div > div > h1 {
    display: inline-grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-auto-rows: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    min-height: 54px;
    height: 7%;
    margin: 0;
}

.Header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 1rem;
    position:relative;
}

div > div > h1 > .Header:after {
    position: absolute;
    content: '';
    top: 100%;
    width: 100%;
    height: 0;
    z-index: -1;
    border-bottom: 1px solid var(--main-component-color);
    box-shadow: 3px 3px 5px var(--main-shadow-color);
}

.CommandContainer{
    display: flex;
    justify-content: center;
    position: relative;
}

.CommandContainer > a{
    position: absolute;
    top: calc((100% - 3rem) / 2);
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-content: center;
    font-size: 1.5rem;
    font-weight: normal;
    width: 80%;
    padding: 0.5rem 0;
    border-radius: 0.5rem;
    border: 2px solid var(--main-border-color);
    background: var(--main-bg-color);
    height: max-content;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

.CommandContainer > a:hover{
    padding-bottom: 0;
}

.CommandContainer > a:hover > div{
    display: flex;
    row-gap: 0.5rem;
}

.CommandContainer > a > div{
    display: none;
    flex-direction: column;
    padding-top: 0.3rem;
    width: 100%;
    align-items: center;
}

.CommandContainer > a > div > button{
    font-size: 1.5rem;
    border-radius: 0.5rem;
    min-height: 3rem;
    padding: 0.2rem 0;
    width: calc(100% - 1rem);
    border: 2px solid var(--main-border-color);
    background: var(--main-bg-color);
    color: var(--main-text-color);
    z-index: 1;
    transition: all 0.2s linear;
}

.CommandContainer > a > div > button:hover{
    transform: scale(1.05);
    color: var(--main-hover-text-color);
    background: var(--main-hover-color);
    border: var(--main-border-hover-color);
}

.CommandContainer > a > div:last-child{
    margin-bottom: 0.5rem;
}

div > div > span{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 93%;
    overflow: hidden;
}

div > div > span > div{
    display: flex;
    white-space: nowrap;
    flex-direction: row;
    width: 85vw;
    height: 60%;
    margin: 1% 0;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    overflow-y: hidden;
    scroll-padding: 1rem;
    gap: 0.5rem;
}

div > div > span > div::-webkit-scrollbar{
    width: 15px;
    background: transparent;
}

div > div > span > div::-webkit-scrollbar-thumb{
    border-radius: 0.5rem;
    background: var(--scrollbar-color);
}

div > div > span > div > button{
    height: 98%;
    font-size: 1.5rem;
    border-radius: 0.3rem;
    color: var(--main-text-color);
    border: 2px solid var(--main-border-color);
    background: var(--main-bg-color);
    transition: all 0.2s linear;
}

div > div > span > div > button:hover{
    color: var(--main-hover-text-color);
    background: var(--main-hover-color);
    border: 2px solid var(--main-border-hover-color);
}

div > div > span > span{
    display: flex;
    flex-direction: row;
    height: 99%;
    width: 98%;
    column-gap: 1rem;
    justify-content: space-around;
}

.TaskHeader{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    justify-items: center;
    flex-direction: row;
    height: max-content;
    padding: 0;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    margin: 0;
}

@keyframes slideInFromDown {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.TaskHeader{
    animation: 0.5s ease-out 0s 1 slideInFromDown;
    min-height: 6%;
    display: flex;
}

.TaskHeader > div {
    flex: 1;
}

.TaskHeader > h1{
    text-align: center;
    margin: 0;
    flex: 3;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.TaskHeader > a {
    flex: 1 1;
    display: flex;
    align-items: center;
}

.TaskHeader > a > button{
    height: 90%;
    width: 100%;
}

.TaskAllDescription{
    animation: 0.5s ease-out 0s 1 slideInFromDown;
    display: flex;
    flex-direction: row;
    height: 29%;
    width: 98%;
    column-gap: 1rem;
    justify-content: space-around;
}

.TaskDesc{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid var(--main-border-color);
    border-radius: 1rem;
    padding: 1rem;
    width: 100%;
    height: calc(100% - 2rem);
    margin-bottom: 1rem;
    font-size: 1.5rem;
    white-space: normal;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    overflow-x: hidden;
    position:relative;
    row-gap: 1rem;
}

.TaskDesc > div{
    display: flex;
    width: 90%;
    text-align: center;
    white-space: normal;
    word-break: break-all;
}

.TaskDesc::-webkit-scrollbar{
    width: 15px;
    background: transparent;
}

.TaskDesc::-webkit-scrollbar-thumb{
    border-radius: 0.5rem;
    background: var(--scrollbar-color);
}

.Description{
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
}

.Description > p{
    margin: 0 0 0.5rem 0;
}

div > div > span > span > span{
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
}

div > div > span > span > span > p{
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    margin: 1rem 0;
}

@keyframes slideInFromLeft {
    from {
        opacity: 0;
        transform: translateY(30%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.TaskListContainer{
    animation: 0.5s ease-out 0s 1 slideInFromLeft;
    display: flex;
    flex-direction: column;
    flex: 1;
}

@keyframes appear {
    from{
        opacity: 0;
        transform: translateX(-100px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

.TaskButton{
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 20%;
}

.TaskListContainer > h2{
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}

.TaskList{
    display: flex;
    flex-direction: column;
    width: calc(100% - 1rem);
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    overflow-x: hidden;
    gap: 0.3rem;
    border-radius: 1rem;
    border: 2px solid var(--main-border-color);
    height: 95%;
    padding: 0.2rem;
    box-shadow: 3px 2px 3px var(--main-shadow-color);
}

.TaskList::-webkit-scrollbar{
    width: 15px;
    background: transparent;
}

.TaskList::-webkit-scrollbar-thumb{
    border-radius: 0.5rem;
    background: var(--scrollbar-color);
}

.TaskList > button{
    z-index: 1;
    display: flex;
    width: 100%;
    max-width: 29vw;
    min-height: max-content;
    padding-top: 1rem;
    padding-bottom: 2rem;
    border-radius: 1rem;
    align-items: center;
    justify-content: center;
    text-overflow: ellipsis;
    white-space: normal;
    cursor: grab;
    border: 2px solid var(--main-border-color);
    position: relative;
    font-size: 1.5rem;
}

.ButtonContainer{
    flex: 1;
    gap: 1rem;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: normal;
    height: calc(100% - 4rem);
}

@keyframes slideInFromRight {
    from {
        opacity: 0;
        transform: translateX(30%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.ButtonContainer > button{
    animation: 0.5s ease-out 0s 1 slideInFromRight;
    border: 2px solid var(--main-border-color);
    background: var(--main-bg-color);
    color: var(--main-text-color);
    border-radius: 1rem;
    height: max-content;
    white-space: normal;
    padding: 1rem;
    font-size: 1.5rem;
    transition: all 0.2s linear;
}

.ButtonContainer > button:hover{
    transform: scale(1.05);
    color: var(--main-hover-text-color);
    background: var(--main-hover-color);
}

.CancelButton{
    margin-top: auto;
}

.Description {
    margin-top: 4rem;
    display: flex;
    height: calc(95% - 4rem);
    white-space: normal;
    overflow-y: scroll;
    overflow-x: hidden;
}

.Description::-webkit-scrollbar{
    width: 15px;
    background: transparent;
}

.Description::-webkit-scrollbar-thumb{
    border-radius: 0.5rem;
    background: var(--scrollbar-color);
}

.ModalSurvey{
    gap: 1rem;
    margin-bottom: 2rem;
}

.SurveyLink{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--main-text-color);
    position: relative;
    height: max-content;
}

.SurveyLink:after{
    position: absolute;
    bottom: 0;
    content: '';
    opacity: 0;
    width: 0;
    border: 1px solid var(--main-component-color);
    box-shadow: 3px 3px 5px var(--main-shadow-color);
    transition: all 0.2s linear;
}

.SurveyLink:hover{
    color: var(--main-hover-color)
}

.SurveyLink:hover:after{
    opacity: 1;
    width: 100%;
}
