.SaveIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 54px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid var(--main-border-color);
}

.SaveIcon:hover{
    border: 2px solid var(--main-border-hover-color);
}

